<br/>
<p-toast [style]="{marginTop: '80px'}"></p-toast>
<form [formGroup]="clienteForm" (ngSubmit)="save()">
<p-table #dt [columns]="cols" [value]="clientes" selectionMode="single" [(selection)]="selectedCliente" contextMenuSelectionMode="joint"
         dataKey="nombre" (onRowDblclick)="onRowSelect($event)"  [responsive]="true" [paginator]="true" [rows]="15" [contextMenu]="cm"
         exportFilename="Clientes">
  <ng-template pTemplate="caption">
    <div>
      Clientes
    </div>
    <div style="text-align: right">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText size="50" placeholder="Nombre" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </div>
    <div class="ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="Exportar" (click)="dt.exportCSV()" style="float:left"></button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Nombre</th>
      <th>Fecha Alta</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body"  let-rowData let-cliente>
    <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData">
      <td>{{cliente.nombre}}</td>
      <td>{{cliente.fechaAlta | date:'dd/MM/yyyy'}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:left">
      <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Nuevo"></button>
    </div>
  </ng-template>
</p-table>

<p-contextMenu #cm [model]="items"></p-contextMenu>

<p-dialog header="Cliente" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="450">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="cliente">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="nombre">Nombre</label></div>
      <div class="ui-grid-col-8"><input formControlName="nombreValido" type="text" id="nombre" [(ngModel)]="cliente.nombre"/></div>
      <p-message severity="error" text="El nombre es requerido" *ngIf="clienteForm.controls['nombreValido'].invalid && (clienteForm.controls['nombreValido'].dirty || clienteForm.controls['nombreValido'].touched)"></p-message>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" class="ui-button-danger" pButton icon="fa  fa-close" (click)="cerrarDialog()" label="Cancelar"></button>
      <button type="submit" class="ui-button-success" pButton icon="fa  fa-check" label="Guardar" [disabled]="!clienteForm.valid"></button>
    </div>
  </p-footer>
</p-dialog>


<p-dialog header="Cliente" [(visible)]="displayDialogDelete" [responsive]="true" showEffect="fade" [modal]="true" [width]="450">
  <div class="ui-grid ui-grid-responsive ui-fluid">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="nombre">Nombre</label></div>
      <div class="ui-grid-col-8"><label>{{clienteNombre}}</label></div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" class="ui-button-danger" pButton icon="fa  fa-close" (click)="cerrarDelete()" label="Cancelar"></button>
      <button type="button" class="ui-button-success" pButton icon="fa  fa-check" (click)="delete()" label="Borrar"></button>
    </div>
  </p-footer>
</p-dialog>
</form>
