<br/>
<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-dataTable  [value]="estados" selectionMode="single" [(selection)]="selectedEstados" (onRowDblclick)="onRowSelect($event)"  [contextMenu]="cm"  [paginator]="true" rows="15" [responsive]="true">
  <p-header>Estados</p-header>
  <p-column field="nombre" header="Nombre" [filter]="true" ></p-column>
  <p-column field="fechaAlta" header="Fecha Alta">
    <ng-template let-row="rowData" pTemplate="body">
      {{row.fechaAlta | date:'MM/dd/yyyy'}}
    </ng-template>
  </p-column>
  <p-footer><div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton  icon="fa fa-plus" style="float:left" (click)="showDialogToAdd()" label="Nuevo"></button></div></p-footer>
</p-dataTable>

<p-contextMenu #cm [model]="items">
  <label for="nombre">Nombre</label>
</p-contextMenu>

<p-dialog header="Estado" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="450">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="estado">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="nombre">Nombre</label></div>
      <div class="ui-grid-col-8"><input pInputText id="nombre" [(ngModel)]="estado.nombre" /></div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" class="ui-button-danger" pButton icon="fa  fa-close" (click)="cerrarDialog()" label="Cancelar"></button>
      <button pButton type="button" label="Warning" class="ui-button-warning"></button>
      <button pButton type="button" label="Danger" class="btn btn-danger"></button>
      <button type="button" pButton icon="fa  fa-check" (click)="save()" label="Guardar"></button>
    </div>
    <button pButton type="button" label="Warning" class="ui-button-warning"></button>
    <button pButton type="button" label="Danger" style="background: #FC466B;border-color: #FC466B;" class="btn btn-danger"></button>
  </p-footer>
</p-dialog>


<p-dialog header="Cliente" [(visible)]="displayDialogDelete" [responsive]="true" showEffect="fade" [modal]="true" [width]="450">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="estado">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="nombre">Nombre</label></div>
      <div class="ui-grid-col-8"><input disabled pInputText id="nombreDelete" [(ngModel)]="estado.nombre" /></div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa  fa-close" (click)="cerrarDelete()" label="Cancelar"></button>
      <button type="button" pButton icon="fa  fa-check" (click)="delete()" label="Borrar"></button>
    </div>
  </p-footer>
</p-dialog>
