<br/>
<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-panel>
  <p-header>
    <div class="ui-helper-clearfix">
      <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Caracteristicas</span>
    </div>
  </p-header>
  <div class="ui-grid ui-grid-responsive ui-fluid">
      <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <p-dropdown  [style]="{'width':'50%'}" [options]="caracteristicaCombo" [(ngModel)]="selectedCaracteristicaCombo" optionLabel="nombre" placeholder="Caracteristicas" [showClear]="true" ></p-dropdown>
       </div>
      </div>
      <div class="ui-grid-row"  style="float:right">
      <div class="ui-helper-clearfix">
        <button type="button"  pButton icon="fa fa-search" (click)="buscarMovimientos()" label="Buscar"></button>
      </div>
      <hr>
    </div>
    <br/>
    <hr>

  <div class="ui-grid-row">
  <p-table #dt [columns]="cols" [value]="caracteristicas" selectionMode="single" [(selection)]="selectedCaracteristica" contextMenuSelectionMode="joint"
         dataKey="nombre"  [responsive]="true" [paginator]="true" [rows]="15" [contextMenu]="cm"
         exportFilename="Caracteristicas">
  <ng-template pTemplate="caption">
    <div style="text-align: right">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText size="50" placeholder="Nombre" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </div>
    <div class="ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="Exportar" (click)="dt.exportCSV()" style="width: 100px;float: left;"></button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Nombre</th>
      <th>Fecha Alta</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body"  let-rowData let-caracteristica>
    <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData">
      <td>{{caracteristica.nombre}}</td>
      <td>{{caracteristica.fechaAlta | date:'dd/MM/yyyy'}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:left;width: 100px">
      <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Nuevo"></button>
    </div>
  </ng-template>
</p-table>

<p-contextMenu #cm [model]="items"></p-contextMenu>

<p-dialog header="Cliente" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="450">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="caracteristica">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="nombre">Nombre</label></div>
      <div class="ui-grid-col-8"><input pInputText id="nombre" [(ngModel)]="caracteristica.nombre" /></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label>Tipo</label></div>
      <div class="ui-grid-col-8"><label>{{selectedCaracteristicaCombo.nombre}}</label></div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" class="ui-button-danger" pButton icon="fa  fa-close" (click)="cerrarDialog()" label="Cancelar"></button>
      <button type="button" class="ui-button-success" pButton icon="fa  fa-check" (click)="save()" label="Guardar"></button>
    </div>
  </p-footer>
</p-dialog>


<p-dialog header="Cliente" [(visible)]="displayDialogDelete" [responsive]="true" showEffect="fade" [modal]="true" [width]="450">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="caracteristica">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="nombre">Nombre</label></div>
      <div class="ui-grid-col-8"><input disabled pInputText id="nombreDelete" [(ngModel)]="caracteristica.nombre" /></div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" class="ui-button-danger" pButton icon="fa  fa-close" (click)="cerrarDelete()" label="Cancelar"></button>
      <button type="button" class="ui-button-success" pButton icon="fa  fa-check" (click)="delete()" label="Borrar"></button>
    </div>
  </p-footer>
  </p-dialog>
  </div>
  </div>
</p-panel>
