<div class="jumbotron text-center">
  <h1>Mean</h1>
  <p class="lead">Bienvenidos a la saracatunga</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Registrar</a>
    <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
  <h3>Lalala</h3>
  <p>Saracatunga cosmica con pepe hongo</p>
  </div>
  <div class="col-md-4">
    <h3>Lalala</h3>
    <p>asdasdasd cosmica con 567 hongo</p>
  </div>
  <div class="col-md-4">
    <h3>Lalala</h3>
    <p>567567567 cosmica con 567 hongo</p>
  </div>
</div>
