
<br/>
<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-panel>
  <p-header>
    <div class="ui-helper-clearfix">
      <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Entrada-Salida</span>
    </div>
  </p-header>

  <div class="ui-grid ui-grid-responsive ui-fluid">
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"><label>ID</label></div>
      <div class="ui-grid-col-8"><input style="width: 50%;" pInputText [(ngModel)]="id" (keyup)="buscarMovimiento()"/></div>
    </div>
    <br/>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"><label></label></div>
      <div class="ui-grid-col-8">
        <p-dropdown #dc disabled  [style]="{'width':'50%'}" [options]="clientes" [(ngModel)]="selectedCliente" placeholder="Selecionar cliente" optionLabel="nombre" [showClear]="true" ></p-dropdown>
      </div>
    </div>
    <br/>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"><label>Caracteristica 1</label></div>
      <div class="ui-grid-col-8"><input disabled style="width: 50%;" pInputText [(ngModel)]="carac"/></div>
    </div>
    <br/>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"><label>Caracteristica 2</label></div>
      <div class="ui-grid-col-8"><input disabled style="width: 50%;" pInputText [(ngModel)]="carac1"/></div>
    </div>
    <br/>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"><label>Caracteristica 3</label></div>
      <div class="ui-grid-col-8"><input  disabled style="width: 50%;" pInputText [(ngModel)]="carac2"/></div>
    </div>
    <br/>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"><label>Estado Actual</label></div>
        <div class="ui-grid-col-8"><label [style.color]="getStyleBaja()">{{selectedEstadoActual}}</label></div>
    </div>
    <br/>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"><label>Nuevo Estado</label></div>
      <div class="ui-grid-col-8">
        <p-dropdown   #de [options]="estados" [style]="{'width':'50%'}" [(ngModel)]="selectedEstado" placeholder="Selecionar estado" optionLabel="nombre" [showClear]="true"></p-dropdown>
      </div>
    </div>
    <br/>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"><label>Fecha</label></div>
      <div class="ui-grid-col-8">
        <p-calendar [style]="{'width':'50%'}"   dateFormat="dd/mm/yy"  [(ngModel)]="fecha" [locale]="es" [showIcon]="true"></p-calendar>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-helper-clearfix">
      <button pButton type="button" icon="pi pi-check" label="Actualizar" (click)="save()" class="ui-button-success" style="margin-right: .25em; float: right;"></button>
      <button pButton type="button" icon="fa  fa-close" label="Borrar" (click)="borrar()" class="ui-button-danger" style="margin-right: .25em; float: right;"></button>
      <button type="button" class="ui-button-success" pButton icon="fa fa-print" (click)="reimprirMovimiento()" label="Re-Imprimir Codigo"></button>
    </div>
  </p-footer>
</p-panel>


<p-dialog  #pd header="Reimprimir Movimiento" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"  [width]="600">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="movimiento" id="dialogBar">
    <div class="ui-grid-row">
      <div class="ui-grid-col-8"><p style="font-weight:bold;">Id Movimiento: {{movimiento.idMov}}</p></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-8"><p style="font-weight:bold;">Cliente: {{movimiento.cliente.nombre}}</p></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-8"><p style="font-weight:bold;">Estado: {{movimiento.estado.nombre}}</p></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-8"><p style="font-weight:bold;">Fecha Ingreso: {{movimiento.fechaIngreso | date:'dd/MM/yyyy'}}</p></div>
    </div>
    <div class="ui-grid-row">
      <div style="float: left;">
        <qr-code [value]="'Datos de paled'" [size]="250"></qr-code>
      </div>
      <div>
        <ngx-barcode [bc-value]="movimiento.idMov" [bc-format]="EAN8" [bc-display-value]="true" style="display: table-row;"></ngx-barcode>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" class="ui-button-info" pButton icon="fa fa-undo" (click)="cerrarDialogConfirmar()" label="Cerrar"></button>
      <button type="button" class="ui-button-success" pButton icon="fa fa-print" (click)="imprimir()" label="Imprimir Codigo"></button>
    </div>
  </p-footer>
</p-dialog>
