
<br/>
<p-panel>
  <p-header>
    <div class="ui-helper-clearfix">
      <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Nuevo Ingreso</span>
    </div>
  </p-header>

  <div class="ui-grid ui-grid-responsive ui-fluid">
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"><label></label></div>
      <div class="ui-grid-col-8">
        <p-dropdown [options]="clientes" [(ngModel)]="selectedCliente" placeholder="Selecionar cliente" optionLabel="nombre" [showClear]="true"></p-dropdown>
      </div>
    </div>
    <br/>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"><label>Caracteristica 1</label></div>
      <div class="ui-grid-col-8"><input pInputText id="fede"/></div>
    </div>
    <br/>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"><label>Caracteristica 2</label></div>
      <div class="ui-grid-col-8"><input pInputText id="ra"/></div>
    </div>
    <br/>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"><label>Caracteristica 3</label></div>
      <div class="ui-grid-col-8"><input pInputText id="aa"/></div>
    </div>
    <br/>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"><label></label></div>
      <div class="ui-grid-col-8">
        <p-dropdown [options]="clientes" [(ngModel)]="selectedCliente" placeholder="Selecionar estado" optionLabel="nombre" [showClear]="true"></p-dropdown>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"><label></label></div>
      <div class="ui-grid-col-8">
        <p-calendar [(ngModel)]="value"></p-calendar>
      </div>
    </div>
  </div>



  <p-footer>
    <button pButton type="button" icon="pi pi-check" label="Ingresar" (click)="save()" class="ui-button-info" style="margin-right: .25em"></button>
    <button pButton type="button" icon="pi pi-search" label="View" class="ui-button-success"></button>
  </p-footer>
</p-panel>
