
<br/>
<p-toast [style]="{marginTop: '80px'}"></p-toast>

<p-toast position="center" key="c" (onClose)="hideConfirmar()" [modal]="true" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div style="text-align: center">
      <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
      <h3>{{message.summary}}</h3>
      <p>{{message.detail}}</p>
    </div>
    <div class="ui-g ui-fluid">
      <div class="ui-g-6">
        <button type="button" pButton (click)="save()" label="Si" class="ui-button-success"></button>
      </div>
      <div class="ui-g-6">
        <button type="button" pButton (click)="hideConfirmar()" label="No" class="ui-button-secondary"></button>
      </div>
    </div>
  </ng-template>
</p-toast>

<p-panel>
  <p-header>
    <div class="ui-helper-clearfix">
      <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Nuevo Ingreso</span>
    </div>
  </p-header>

  <div class="ui-grid ui-grid-responsive ui-fluid">
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"><label></label></div>
      <div class="ui-grid-col-8">
        <p-dropdown  [style]="{'width':'50%'}" required="true" [options]="clientes" [(ngModel)]="selectedCliente" placeholder="Selecionar cliente" optionLabel="nombre" [showClear]="true" ></p-dropdown>
      </div>
    </div>
    <br/>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"><label>Caracteristica 1</label></div>
      <div class="ui-grid-col-8"><input style="width: 50%;" pInputText [(ngModel)]="carac"/></div>
    </div>
    <br/>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"><label>Caracteristica 2</label></div>
      <div class="ui-grid-col-8"><input style="width: 50%;" pInputText [(ngModel)]="carac1"/></div>
    </div>
    <br/>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"><label>Caracteristica 3</label></div>
      <div class="ui-grid-col-8"><input style="width: 50%;" pInputText [(ngModel)]="carac2"/></div>
    </div>
    <br/>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"><label>Fecha registro</label></div>
      <div class="ui-grid-col-8">
        <p-calendar [style]="{'width':'50%'}"   dateFormat="dd/mm/yy"  [(ngModel)]="fechaRegistro" [locale]="es" [showIcon]="true"></p-calendar>
      </div>
    </div>
  </div>
 <p-footer>
    <div class="ui-helper-clearfix">
      <button pButton type="button" icon="pi pi-check" label="Ingresar" (click)="showConfirmar()" class="ui-button-success" style="margin-right: .25em; float: right;"></button>
    </div>
  </p-footer>
</p-panel>


<p-dialog  #pd header="Nuevo Movimiento" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"  [width]="600">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="movimiento" id="dialogBar">
      <div class="ui-grid-row">
         <div class="ui-grid-col-8"><p style="font-weight:bold;">Id Movimiento: {{movimiento.idMov}}</p></div>
      </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-8"><p style="font-weight:bold;">Cliente: {{movimiento.cliente.nombre}}</p></div>
        </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-8"><p style="font-weight:bold;">Estado: {{movimiento.estado.nombre}}</p></div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-8"><p style="font-weight:bold;">Fecha Ingreso: {{movimiento.fechaIngreso | date:'dd/MM/yyyy'}}</p></div>
      </div>
    <div class="ui-grid-row">
      <div style="float: left;">
          <qr-code [value]="'Datos de paled'" [size]="250"></qr-code>
      </div>
      <div>
          <ngx-barcode [bc-value]="movimiento.idMov" [bc-format]="EAN8" [bc-display-value]="true" style="display: table-row;"></ngx-barcode>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" class="ui-button-info" pButton icon="fa fa-undo" (click)="cerrarDialogConfirmar()" label="Cerrar"></button>
      <button type="button" class="ui-button-success" pButton icon="fa fa-print" (click)="imprimir()" label="Imprimir Codigo"></button>
    </div>
  </p-footer>
</p-dialog>

