<br/>
<p-toast [style]="{marginTop: '80px'}"></p-toast>
<form [formGroup]="userForm">
<p-table #dt [columns]="cols" [value]="usuarios" selectionMode="single" [(selection)]="selectedUser" contextMenuSelectionMode="joint"
         dataKey="name"  [responsive]="true" [paginator]="true" [rows]="15" [contextMenu]="cm"
         exportFilename="Usuarios">
  <ng-template pTemplate="caption">
    <div>
      Usuarios
    </div>
    <div style="text-align: right">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText size="50" placeholder="Nombre" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </div>
    <div class="ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="Exportar" (click)="dt.exportCSV()" style="float:left"></button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Nombre Usuario</th>
      <th>Fecha Alta</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    No hay usuarios
  </ng-template>
  <ng-template pTemplate="body"  let-rowData let-usuario>
    <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData">
      <td>{{usuario.name}}</td>
      <td>{{usuario.email}}</td>
      <td>{{usuario.username}}</td>
      <td>{{usuario.fechaAlta | date:'dd/MM/yyyy'}}</td>
   </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:left">
      <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Nuevo"></button>
    </div>
  </ng-template>
</p-table>

<p-contextMenu #cm [model]="items"></p-contextMenu>

<p-dialog header="Usuario" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="450">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="user">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="name">Nombre</label></div>
      <div class="ui-grid-col-8"><input pInputText  formControlName="nombreYApeUser" id="name" [(ngModel)]="user.name" /></div>
      <div class="ui-grid-col-6">
        <p-message severity="error" text="Requerido" *ngIf="!userForm.controls['nombreYApeUser'].valid&&userForm.controls['nombreYApeUser'].dirty"></p-message>
      </div>
    </div>
    <br/>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="email">Email</label></div>
      <div class="ui-grid-col-8"><input type="email"  formControlName="emailUser" pKeyFilter="email"  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" id="email" [(ngModel)]="user.email" /></div>
      <div class="ui-grid-col-6">
        <p-message severity="error" text="Requerido" *ngIf="!userForm.controls['emailUser'].valid&&userForm.controls['emailUser'].dirty"></p-message>
      </div>
    </div>
    <br/>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="username">Nombre Usuario</label></div>
      <div class="ui-grid-col-8"><input pInputText id="username" formControlName="nombreUser"  [(ngModel)]="user.username" /></div>
      <div class="ui-grid-col-6">
        <p-message severity="error" text="Requerido" *ngIf="!userForm.controls['nombreUser'].valid&&userForm.controls['nombreUser'].dirty"></p-message>
      </div>
    </div>
    <br/>
    <div class="ui-grid-row" *ngIf="newUser">
      <div class="ui-grid-col-4"><label for="passwordUpdate">Password</label></div>
      <div class="ui-grid-col-8"><input pInputText formControlName="passUser" id="password" type="password" [(ngModel)]="user.password" /></div>
      <div class="ui-grid-col-6">
        <p-message severity="error" text="Requerido" *ngIf="!userForm.controls['passUser'].valid&&userForm.controls['passUser'].dirty"></p-message>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" class="ui-button-danger" pButton icon="fa  fa-close" (click)="cerrarDialog()" label="Cancelar"></button>
      <button type="button" class="ui-button-success" pButton icon="fa  fa-check" (click)="save()" label="Guardar"></button>
    </div>
  </p-footer>
</p-dialog>


<p-dialog header="Usuario" [(visible)]="displayDialogDelete" [responsive]="true" showEffect="fade" [modal]="true" [width]="450">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="user">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="name">Nombre</label></div>
      <div class="ui-grid-col-8"><label>{{usuarioNombre}}</label></div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" class="ui-button-danger" pButton icon="fa  fa-close" (click)="cerrarDelete()" label="Cancelar"></button>
      <button type="button" class="ui-button-success" pButton icon="fa  fa-check" (click)="delete()" label="Borrar"></button>
    </div>
  </p-footer>
</p-dialog>
</form>

<form [formGroup]="userFormUpdatePass">
<p-dialog header="Usuario" [(visible)]="displayDialogPass" [responsive]="true" showEffect="fade" [modal]="true" [width]="450">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="user">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="passwordUpdate">Password</label></div>
      <div class="ui-grid-col-8"><input pInputText formControlName="passUserUpdate" id="passwordUpdate" type="password" [(ngModel)]="user.password" /></div>
      <div class="ui-grid-col-6">
        <p-message severity="error" text="Requerido" *ngIf="!userFormUpdatePass.controls['passUserUpdate'].valid&&userFormUpdatePass.controls['passUserUpdate'].dirty"></p-message>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" class="ui-button-danger" pButton icon="fa  fa-close" (click)="cerrarUpdatePass()" label="Cancelar"></button>
      <button type="button" class="ui-button-success" pButton icon="fa  fa-check" (click)="updatePass()" label="Guardar"></button>
    </div>
  </p-footer>
</p-dialog>
</form>







